html,body {
    font-family: "Lucida Sans", sans-serif;
    margin:0;
    background-color: #cfc6c6;
  }
  
  
  /*                                        NAVBAR                                       */
  .navbar {
   
    background-image: url(images/slika6.jpg);
   

  }
  .navbar-text h1{
    text-align:center;color:white;font-size:5vw !important;font-family: "Bebas Neue", Sans-serif;letter-spacing: 20px; 
    animation: slidein 5s ;
  }
  @media only screen and (max-width:1200px) {
   
    .navbar-text h1{
      font-size:6.5vw !important;
     
     
    }
  }

  @keyframes slidein {
    0% { margin-left:-5000px; }
    20% { margin-left:-5000px; }
    35% { margin-left:0px; }
    100% { margin-left:0px; }
}

  

/*                                 SEND MESSAGE                            */

.center{
  margin: auto;
  width: 100%;
  
  
}

form{
   
 padding:6px;
  
}

input, textarea{
  display:block;
    width:65%;
    padding:6px;
    outline:none;
    border:none;
    margin:6px 0px;
    border-radius: 10px;
}
@media only screen and (max-width : 480px) {
  input, textarea{
    
      width:100%;
     
  }
}
button {
    background-color: #1d67a8;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
  
  }


  form button{
    width:150px;
    background-color: #333;
  }

  .info{
    text-align: left;
  }
      .info i, .info h4, .info a{
        display:inline-block;
       color:black;
       text-decoration: none;
      }

 /*                          GRID SYSTEM                      */ 

 * {
  box-sizing: border-box;
}


.row:after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  width: 100%;
}


/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
  .col-ph-1 {width: 8.33%;}
  .col-ph-2 {width: 16.66%;}
  .col-ph-3 {width: 25%;}
  .col-ph-4 {width: 33.33%;}
  .col-ph-5 {width: 41.66%;}
  .col-ph-6 {width: 50%;}
  .col-ph-7 {width: 58.33%;}
  .col-ph-8 {width: 66.66%;}
  .col-ph-9 {width: 75%;}
  .col-ph-10 {width: 83.33%;}
  .col-ph-11 {width: 91.66%;}
  .col-ph-12 {width: 100%;}

  .width{
  
   
    margin:auto;
     width:95%;
  }

}


@media only screen and (min-width : 480px) {
  .col-t-1 {width: 8.33%;}
  .col-t-2 {width: 16.66%;}
  .col-t-3 {width: 25%;}
  .col-t-4 {width: 33.33%;}
  .col-t-5 {width: 41.66%;}
  .col-t-6 {width: 50%;}
  .col-t-7 {width: 58.33%;}
  .col-t-8 {width: 66.66%;}
  .col-t-9 {width: 75%;}
  .col-t-10 {width: 83.33%;}
  .col-t-11 {width: 91.66%;}
  .col-t-12 {width: 100%;}


}


@media only screen and (min-width : 768px) {
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}

  .middle{
    display: flex;
    align-items: center;
    justify-content: center; 
  }
}


@media only screen and (min-width : 992px) {
  .col-l-1 {width: 8.33%;}
  .col-l-2 {width: 16.66%;}
  .col-l-3 {width: 25%;}
  .col-l-4 {width: 33.33%;}
  .col-l-5 {width: 41.66%;}
  .col-l-6 {width: 50%;}
  .col-l-7 {width: 58.33%;}
  .col-l-8 {width: 66.66%;}
  .col-l-9 {width: 75%;}
  .col-l-10 {width: 83.33%;}
  .col-l-11 {width: 91.66%;}
  .col-l-12 {width: 100%;}
}

